@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TitlingGothicFB Wide';
    src: url('../fonts/TitlingGothicFBWide-Black.woff2') format('woff2'),
        url('../fonts/TitlingGothicFBWide-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}